:deep(.tiptap.ProseMirror) {
  min-height: max-content !important;
}
:deep(.pi-tiptap-editor-toolbar) {
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;

  // https://tailwindcss.com/docs/responsive-design
  @media (width < 64rem) {
    overflow-x: auto;
  }
}
:deep(.ProseMirror-selectednode > div) {
  border: 1px dashed #3b82f6 !important;

  & > div {
    background-color: white !important;
    border-color: #3b82f6 !important;
  }
  & > div > img {
    fill: #3b82f6 !important;
  }
}